.mdl-mega-footer{
  padding-top: 50px;
  padding-bottom: 110px;
  .logo{
    max-width: 100%;
    width: 278px;
    height: auto;
    margin-bottom: 30px;
  }
  .border-links{
    display:block;
    width: 40px;
    height: 1px;
    background: unquote('rgb(#{$color-primary})');
    margin-bottom: 30px;
  }
  .mdl-mega-footer__heading{
    padding-top: 10px;
  }

  .link{
    display: inline-block;
    color: $custom-black;
    font-size: 17px;
    padding: 5px 0;
    &:hover{
      color: unquote('rgb(#{$color-primary})');
    }
    @media(min-width: $grid-tablet-breakpoint){
      font-size: 19px;
    }
  }
  .mdl-mega-footer__link-list {
    padding:0;
    li{
      margin: 0;
    }
  }
  @media(min-width: 768px){
    padding-top: 120px;
    padding-bottom: 50px;
  }
}
.block-newsletter{
  .mdl-mega-footer__heading{
    padding-top: 0;
  }
}
.form-newsletter{
  .mdl-textfield{
    max-width: calc(100% - 50px);
  }
  input{
    border: 0;
  }
  button{
    display:inline-block;
    vertical-align: middle;
    background:none;
    border: none;
    color: unquote('rgb(#{$color-primary})');
    .material-icons{
      font-size: 30px;
    }
  }
}
.block-logo{
  padding-right: 45px;
}
@media (max-width: 759px){
  .block-follow{
    .mdl-cell{
      margin: 0;
    }
  }
  .mdl-mega-footer{
    .link{
      padding: 5px 0;
    }
  }
  .border-links{
    margin-top: 30px;
  }
  .block-links{
    .border-links{
      display:none;
    }
  }
  .mdl-mega-footer__middle-section{
    display: flex;
    flex-direction: column;
  }
  .block-logo{
    order: 10;
    .logo{
      display:none;
    }
  }
  .block-newsletter{
    margin-bottom: 30px;
  }
}
@media(min-width: 768px){
  .block-logo{
    width: 30%;
  }
  .block-links{
    width: 20%;
  }
}