.container{
  margin:auto;
  max-width: 1500px;
}
.copyright{
  font-size: 10px;
}
@media(min-width: $grid-tablet-breakpoint){
  .visible-mobile {
    display:none;
  }
}

@media(min-width: 768px){
  .separator-vertical{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display:block;
    width: 2px;
    height: 112px;
    margin: 0 auto;
    transform: translateY(-50%);
    background: unquote('rgb(#{$color-primary})');
    &.separator-white{
      background: #fff;
    }
  }
}

.text-white{
  color: #fff;
}
.bg-primary{
  background: unquote('rgb(#{$color-primary})');
}
.bg-white{
  background: #fff;
}
.bg-black{
  background: #1b222c;
  color: #fff;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}

.cover{
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}