.hb-icon{
  display:inline-block;
  width: 32px;
  height: 38px;
  background: center center no-repeat;
  background-size: contain;

  &-btn-next{
    background-image: url(../images/icons/btn-next.svg);
  }
  &-btn-next-white{
    background-image: url(../images/icons/btn-next-white.svg)
  }
  &-etudedecas{
    background-image: url(../images/icons/etudedecas.svg);
    width: 17px;
  }
}