$color-grey: #747a7d;

$button-height: 55px;
$button-padding: 30px;

$grid-desktop-breakpoint: 992px !default;
$grid-desktop-gutter: 25px !default;

$footer-bg-color: #f8f8f8;

$footer-heading-font-size: 15px;
$footer-heading-color: #878d8f;
$footer-min-padding: 8px;

$color-blue: #2962ff;
//$color-black: #1b222c;

$input-text-label-color: #fff;
$input-text-bottom-border-color: #fff;
$input-text-highlight-color: #fff;
$input-text-disabled-color: $input-text-bottom-border-color;
$input-text-disabled-text-color: $input-text-label-color;
