// Normalize Styles
@import 'node_modules/normalize.css/normalize';
$color-primary: '48,79,254';
@import 'node_modules/material-design-lite/src/material-design-lite';
html,
body {
  font-family: Raleway, Arial, Helvetica, sans-serif
}

.mdl-layout,
.mdl_layout__container {
  background-color: #fff;
  height: auto;
  position: static;
  width: auto
}

.logo {
  width: 178px;
  height: 39px;
  object-fit: contain;
}

.main-content {
  margin-top: 56px;
}

.hb-card--media {
  width: 100%;
  .hb-card__img-container img {
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

$text-color: #878d8f;

.hb-case-study {
  margin: 10px 0;
  text-align: left;
  .mdl-card__actions {
    color: $text-color;
    text-align: left;
    i {
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
    .mdl-button {
      float: right;
      text-align: right;
      margin-left: auto;
      margin-right: -9px;
      color: unquote("rgb(#{$color-primary})");
      i {
        font-size: 38px;
      }
      border-width: 0;
    }
  }
}

h2,
h3,
p {
  color: $text-color;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.43;
}

h5 {
  font-size: 14px;
}

h1 {
  font-size: 50px;
  line-height: 64px;
}

h2 {
  font-size: 18px;
  line-height: 26px;
}

h3 {
  font-size: 50px;
  padding: 40px 0;
}

section {
  padding: 0px 20px;
  text-align: center;
}

.section-expertises {
  background-color: unquote("rgb(#{$color-black})");
  color: unquote("rgb(#{$color-white})");
  h3 {
    color: unquote("rgb(#{$color-white})");
  }
}

.mdl-cell {
  margin: auto;
}

.mdl-button {
  border: unquote('rgb(#{$color-primary})') 1px solid;
  color: unquote('rgb(#{$color-primary})');
}

.section-contact {
  background-color: unquote("rgb(#{$color-primary})");
  color: unquote("rgb(#{$color-white})");
  padding-bottom: 30px;
  h3 {
    margin-top: 0;
    color: unquote("rgb(#{$color-white})");
    font-size: 50px;
  }
  .mdl-button {
    color: unquote("rgb(#{$color-white})"); 
    border-color: unquote("rgb(#{$color-white})"); 
  }
}

.section-method {
  background-color: #a8afb2;
  color: white;
  h3 {
    color: white;
  }
  h4 {
    color: black;
  }
  h5 {
    font-size: 22px;
    text-transform: uppercase;
  }
  .mdl-cell--3-col {
    //width: 100%;
    //margin: 0 auto;
  }
  .oval {
    width: 122px;
    height: 122px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: auto;
  }
}

////////////////////////
.mdl-layout__header {
  position: fixed;
  background-color: white;
}

@media only screen and (max-width:840px) {
  .mdl-layout__header .mdl-layout__header-row .mdl-navigation {
    display: none
  }
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: unquote("rgb(#{$color-primary})");
  height: 56px;
  left: initial;
  line-height: 53px;
  margin: 0;
  width: 56px;
  right: 0;
}

.mdl-layout__header .mdl-layout__drawer-button--close {
  display: none;
  left: 0;
  position: absolute
}

.mdl-layout__header,
.mdl-layout__header .mdl-layout__header-row {
  height: 56px;
  min-height: 56px
}

.mdl-layout__header .mdl-layout__header-row {
  padding: 0 0 0 16px;
}

@media only screen and (min-width:841px) and (max-width:1200px) {
  .mdl-layout__header .mdl-layout__header-row {
    padding: 0 20px
  }
}

@media only screen and (min-width:1201px) {
  .mdl-layout__header .mdl-layout__header-row {
    padding: 0 40px
  }
}

.mdl-layout__header .mdl-layout__header-row .mdl-navigation {
  height: 56px
}

.mdl-layout__header .mdl-layout__header-row .mdl-navigation__link {
  color: unquote("rgb(#{$color-primary})");
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 24px;
  padding: 3px 0 0;
  text-transform: uppercase
}

.mdl-layout__header .mdl-layout__header-row .mdl-navigation__link.mdl-navigation__link--active {
  border-bottom: 3px solid #00bcd4
}

.mdl-layout__header .mdl-layout__header-row .mdl-navigation__link:hover {
  text-decoration: none
}

.mdl-layout__header .mdl-layout-title {
  width: 102px
}

@media only screen and (min-width:841px) {
  .mdl-layout__header .mdl-layout__drawer-button {
    display: none
  }
}

.mdl-layout__drawer-button .icon {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 16px;
  transform: rotateZ(0);
  transition: all .2s ease-in-out;
  width: 24px
}

.mdl-layout__drawer-button .icon--open {
  opacity: 1;
  transform: rotateZ(0)
}

.mdl-layout__drawer-button .icon--close {
  opacity: 0;
  transform: rotateZ(-45deg)
}

.mdl-layout__drawer-button[aria-expanded=true] .icon--open {
  opacity: 0;
  transform: rotateZ(45deg)
}

.mdl-layout__drawer-button[aria-expanded=true] .icon--close {
  opacity: 1;
  transform: rotateZ(0)
}

.navigation-drawer {
  background-color: unquote("rgb(#{$color-primary})");
  opacity: 0;
  position: fixed;
  top: 56px;
  transform: translateX(100%);
  transition-duration: .2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  width: 100%
}

.navigation-drawer.is-visible {
  opacity: 1;
  transform: translateX(0);
  visibility: visible
}

.navigation-drawer__subnav {
  margin-left: 24px;
  padding: 0
}

.navigation-drawer__subnav-item {
  list-style: none
}

.navigation-drawer .mdl-navigation {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 30px
}

.navigation-drawer .mdl-navigation .mdl-navigation__link {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 200;
  height: 48px;
  font-size: 28px;
  padding: 0 0 0 16px;
  //text-transform: uppercase
}

.navigation-drawer .mdl-navigation .mdl-navigation__link:hover {
  color: #008394;
  text-decoration: none
}

.navigation-drawer hr {
  margin: 10px 40px;
  //border-color: #2156E8;
}

.navigation-drawer ul li {
  padding: 0 1em;
  list-style-type: none;
  display: inline;
  color: #052D9C;
  a {
    color: #fff;
    text-decoration: none;
  }
}

////////////////////////



// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}