// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');
$custom-black: #111114;
$color-primary: '48,79,254';
$preferred_font: Raleway, Arial, Helvetica, sans-serif;
$performance_font: Raleway, 'Helvetica', 'Arial', sans-serif;
$text-color: #CECECE;

@import 'variables';

@import 'node_modules/material-design-lite/src/material-design-lite';

@import 'mdl-override/buttons';
@import 'mdl-override/typographie';

@import 'structure/footer';
@import 'global';


.mdl-layout,
.mdl_layout__container {
  height: auto;
  position: static;
  width: auto
}

.logo {
  width: 178px;
  height: 39px;
  object-fit: contain;
}

.highlight {
  color: unquote("rgb(#{$color-primary})");
  font-weight: 500;
}

.main-content, .contact-page {
  margin-top: 56px;
}

.hb-card {
  margin: 10px 0;
  text-align: left;
  height: auto;
}

.hb-card, .hb-card__actions {
  background: #fff;
  width: 100%;
}

.hb-card--media {
  width: 100%;
  height: auto;
  .hb-card__img-container img {
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .hb-card__content {
    padding-top: 16px
  }
}

.hb-card__content {
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  flex: 1;
  height: auto;
  padding: 22px 30px 48px;
  width: 100%
}

.hb-card__body {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #878d8f;
}

.hb-card__title {
  font-size: 17px;
  font-weight: bold;
  color: #111114;
  margin-bottom: 16px
}

.hb-card__actions {
  position: absolute;
  bottom: 15px;
  left: 0;
  box-sizing: border-box;
  box-shadow: 0 -2px 2px #fff;
  height: 48px;
  padding: 0 30px;
  color: $text-color;
  text-align: left;

  i {
    vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
  span {
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .mdl-button {
    margin: 0;
    float: right;
    text-align: right;
    padding: 0;
    min-width: 55px;
    height: auto;
    line-height: 1;
    color: unquote("rgb(#{$color-primary})");
    i {
      font-size: 38px;
    }
    border-width: 0;
  }
}

@media only screen and (min-width:841px) {
  .mdl-card,
  .hb-card--media {
    min-height: 397px
  }
  .hb-card--media:hover .hb-card__content {
    height: 255px
  }
  .hb-card--media:hover .hb-card__body {
    opacity: 1
  }
  .hb-card--media:hover .hb-card__img-container {
    opacity: .8;
    transform: scale(1.1);
    visibility: visible
  }
  .hb-card--media:hover .hb-card__img-container .logo {
    transform: translateY(-35px)
  }
  .hb-card--media .hb-card__content {
    height: 171px;
    position: absolute;
    transition: height .4s cubic-bezier(.165, .84, .44, 1)
  }
  .hb-card--media .hb-card__body {
    opacity: 0;
    transition: opacity .2s ease-in-out
  }
  .hb-card--media .hb-card__img-container {
    height: 170px;
    opacity: 1;
    padding-bottom: 0;
    transform: scale(1);
    transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s cubic-bezier(.165, .84, .44, 1), -webkit-filter .4s cubic-bezier(.165, .84, .44, 1), transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s cubic-bezier(.165, .84, .44, 1), filter .4s cubic-bezier(.165, .84, .44, 1)
  }
  .hb-card--actu{
    min-height: 250px;
  }
  .section-intro {
    //height: 540px;
    //display: flex; /* contexte sur le parent */
    //flex-direction: column; /* direction d'affichage verticale */
    //justify-content: center; /* alignement vertical */
  }

  .main-content, .contact-page {
    margin-top: 0px;
  }
}


section {
  text-align: center;
  padding: 24px 100px 0px 100px;
  @media screen and (max-width: $layout-screen-size-threshold) {
    padding: 24px 15px 0px 15px;
  }
}

.section-intro {
  position: relative;
  height: 100vh;
  display:flex;
  justify-content: center;

  &-content{
    align-self: center;
    z-index: 1000;
  }
  h1, h2 {
    margin: 30px auto;
  }
  h2{
    line-height: 1.6;
    font-size: 20px;
    color: unquote('rgb(#{$color-black})');
  }
  .material-icons{
    font-size: 45px;
    color: unquote('rgb(#{$color-primary})');
  }
}

.cb-slideshow { 
  //position: absolute;
  //width: 100%;
  //height: 340px;
  //@media only screen and (min-width:841px) {
  //  height: 540px;
  //}
  //top: 0px;
  //left: 0px;
  //z-index: 0;
  margin: 0;
  li {
    list-style: none;
    span { 
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 36s linear infinite 0s;
    }
  }
  li:nth-child(1) span { 
    background-image: url(../images/1.jpg) 
  }
  li:nth-child(2) span { 
    background-image: url(../images/2.jpg);
    animation-delay: 6s; 
  }
  li:nth-child(3) span { 
    background-image: url(../images/3.jpg);
    animation-delay: 12s; 
  }
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

.margin-auto {
  margin: 0 auto;
}

.vertical-align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.section-being {
  padding-top: 50px;
  padding-bottom: 150px;
  background: url(/images/background.svg) no-repeat center 30px;
  background-size: 100%;
  h4{
    margin-bottom: 50px;
  }
  @media screen and (min-width: $layout-screen-size-threshold + 1px) {
    .mdl-cell {
      margin: 0;
    }
    h2, h3, h4, p {
      text-align: left;
    }
  }
}

.section-expertises {
  background-color: unquote("rgb(#{$color-black})");
  color: unquote("rgb(#{$color-white})");
  .mdl-cell{
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 465px;
  }

  h4 {
    color: white;
    font-weight: 300;
    b, strong{
      font-weight: 600;
    }
  }
}

.mdl-cell {
  margin: 0 auto;
}

.mdl-button {
  border: unquote('rgb(#{$color-primary})') 1px solid;
  color: unquote('rgb(#{$color-primary})');
}

//.hb-button__case-studies, .hb-button__contact {
//  width: 232px;
//	height: 45px;
//  letter-spacing: 1px;
//  margin-top: 15px;
//  line-height: 45px;
//}

.section-contact {
  background-color: unquote("rgb(#{$color-primary})");
  color: unquote("rgb(#{$color-white})");
  padding: 60px 0 30px;
  h3 {
    margin-top: 0;
    color: unquote("rgb(#{$color-white})");
    font-size: 50px;
  }
  .mdl-button {
    color: unquote("rgb(#{$color-white})");
    border-color: unquote("rgb(#{$color-white})");
  }
}

.section-method {
  background-color: #a8afb2;
  color: white;

  h5 {
    font-size: 19px;
  }

  &-content{
    padding-top: 80px;
    padding-bottom: 80px;
    .separator{

      color: $color-grey;
      .material-icons{
        font-size: 32px;
      }
    }
    @media screen and (max-width: 767px){
      .separator{
        transform: rotate(90deg);
      }
    }
  }
  .method-step{
    position: relative;
    margin: 30px 0;
    .separator{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px){
      .separator{
        margin-top: 60px;
      }
    }
  }
  .method-transition{
    align-self: center;
    > .mdl-grid{
      align-items: center;
    }
    &-label{
      margin: 30px 0;
    }
  }
  .oval {
    width: 122px;
    height: 122px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: auto;
  }
  .method-underline {
    position: absolute;
    color: #575b5c;
    text-align: center;
    transform: rotate(-90deg);
    top: 48%;
    left: 50%;
    width: 320px;
    margin-left: -50px;
    h5 {
      letter-spacing: 0.22em;
      line-height: 23px;
      text-transform: inherit;
      font-size: 15px;
    }
    &:before {
      content: '';
      width: 320px;
      display: block;
      margin: auto;
      height: 15px;

      border: 1px solid #575b5c;
      border-top: 0px;
    }
    @media only screen and (min-width:$grid-tablet-breakpoint) {
      position: static;
      transform: initial;
      margin: auto;
      &:before{
        width: 56%;
      }
    }
  }
}

////////////////////////
@import 'mdl-override/layout';

.mdl-layout__drawer-button .icon {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 16px;
  transform: rotateZ(0);
  transition: all .2s ease-in-out;
  width: 24px;
}

.mdl-layout__drawer-button .icon--open {
  opacity: 1;
  transform: rotateZ(0);
}

.mdl-layout__drawer-button .icon--close {
  opacity: 0;
  transform: rotateZ(-45deg);
}

.mdl-layout__drawer-button[aria-expanded=true] .icon--open {
  opacity: 0;
  transform: rotateZ(45deg);
}

.mdl-layout__drawer-button[aria-expanded=true] .icon--close {
  opacity: 1;
  transform: rotateZ(0);
}

.navigation-drawer {
  background-color: unquote("rgb(#{$color-primary})");
  opacity: 0;
  position: fixed;
  top: 56px;
  transform: translateX(100%);
  transition-duration: .2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  width: 100%;
}

.navigation-drawer.is-visible {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.navigation-drawer__subnav {
  margin-left: 24px;
  padding: 0;
}

.navigation-drawer__subnav-item {
  list-style: none;
}

.navigation-drawer .mdl-navigation {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 30px;
}

.navigation-drawer .mdl-navigation .mdl-navigation__link {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 200;
  height: 48px;
  font-size: 28px;
  padding: 0 0 0 16px; //text-transform: uppercase
}

.navigation-drawer .mdl-navigation .mdl-navigation__link:hover {
  color: #008394;
  text-decoration: none;
}

.navigation-drawer hr {
  margin: 10px 40px; //border-color: #2156E8;
}

.navigation-drawer ul li {
  padding: 0 1em;
  list-style-type: none;
  display: inline;
  color: #052D9C;
  a {
    color: #fff;
    text-decoration: none;
  }
}

////////////////////////

.contact-page {
  .mdl-cell {
    max-width: 800px;
  }
  .mdl-cell div,h3,button {
    width: 100%;
  }
  .mdl-cell h3 {
    font-size: 24px;
    text-align: center;
  }
  .mdl-cell button {
    margin: 15px 0;
  }
}


// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

.section-news{
  padding-top: 50px;
  padding-bottom: 150px;
  background: url(/images/background.svg) no-repeat center -60px;
  background: url(/images/background.svg) no-repeat center -60px;
  background-size: 100%;
}