// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/owl.carousel/src/scss/owl.carousel';
@import 'node_modules/owl.carousel/src/scss/owl.theme.default';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');
$custom-black: #111114;
$color-primary: '48,79,254';
$color-black: "27,34,44";
$preferred_font: Raleway,
Arial,
Helvetica,
sans-serif;
$performance_font: Raleway,
'Helvetica',
'Arial',
sans-serif;
$text-color: #cecece;
@import 'variables';
@import 'node_modules/material-design-lite/src/material-design-lite';
@import 'mdl-override/buttons';
@import 'mdl-override/typographie';
@import 'structure/footer';
@import 'global';
@import 'icons';
.mdl-layout,
.mdl_layout__container {
  height: auto;
  position: static;
  width: auto
}
.logo {
  img {
    width: 215px;
    height: 45px;
    object-fit: contain;
  }
}
.highlight {
  color: unquote("rgb(#{$color-primary})");
  font-weight: 500;
}
//.main-content,
//.contact-page {
//  margin-top: 56px;
//}
.hb-card--media {
  .hb-card__img-container img {
    width: 100%;
  }
  .cover{
    height: 270px;
    @media(min-width: $grid-tablet-breakpoint){
      height: 435px;
    }
  }
  &.hb-card--media-full-width{
    .hb-card__content{
      margin-top: -15%;
    }
    @media(max-width: $grid-tablet-breakpoint){
      .hb-card__img-container{
        overflow: hidden;
        img{
          width:150%;
          margin-left: -25%;
        }
      }
    }
  }
}

.hb-card {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  height: auto;
  background:none;
  &.hover {
    .hb-card__content {
      background-color: unquote('rgb(#{$color-primary})');
      &, .hb-card__body {
        color: #fff;
      }
    }
    .hb-card__title {
      color: $custom-black;
    }
    .hb-card__actions {
      .mdl-button {
        color: #fff;
        i {
          background-image: url(../images/icons/btn-next-white.svg);
        }
      }
    }
  }
}
.hb-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 75%;
  padding: 50px 30px;
  margin: -25% auto 0;
  background-color: #1b222c;
  text-align: center;
  text-decoration: none;
}
.hb-card__body {
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #babfc1;
}
.hb-card__title {
  margin-bottom: 16px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  @media(min-width: $grid-tablet-breakpoint){
    font-size: 26px;
  }
}
.hb-card__actions {
  color: unquote('rgb(#{$color-primary})');
  span {
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .mdl-button {
    margin: 0;
    padding: 0;
    min-width: 55px;
    height: auto;
    line-height: 1;
    border-width: 0;
    color: unquote('rgb(#{$color-primary})');
    i {
      margin-left: 10px;
      vertical-align: middle;
      background-size: auto 15px;
    }
  }
}
section {
  position: relative;
  padding: 40px 100px;
  text-align: center;
  @media screen and (max-width: $layout-screen-size-threshold) {
    padding: 24px 15px 0 15px;
  }
  h3 {
    font-weight: 500;
    color: $custom-black;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      width: 45px;
      height: 1px;
      margin: 20px auto;
      background: unquote('rgb(#{$color-primary})');
    }
  }
}
.section-intro {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000;

  &-content {
    align-self: center;
    z-index: 1000;
  }
  h1,
  h2 {
    margin: 30px auto;
  }
  h2 {
    line-height: 1.6;
    font-size: 20px;
  }
  .material-icons {
    font-size: 45px;
    color: unquote('rgb(#{$color-primary})');
  }
}
.cb-slideshow {
  //position: absolute;
  //width: 100%;
  //height: 340px;
  //@media only screen and (min-width:841px) {
  //  height: 540px;
  //}
  //top: 0px;
  //left: 0px;
  //z-index: 0;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 18s linear infinite 0s;
      text-indent: -999em;
    }
  }
  li:nth-child(1) span {
    background-image: url(../images/slidemobile-robot.jpg);
  }
  li:nth-child(2) span {
    background-image: url(../images/slidemobile-strategie.jpg);
    animation-delay: 6s;
  }
  li:nth-child(3) span {
    background-image: url(../images/slidemobile-vr.jpg);
    animation-delay: 12s;
  }
   @media(min-width: $grid-tablet-breakpoint){
     li:nth-child(1) span {
       background-image: url(../images/slide-robot.jpg);
     }
     li:nth-child(2) span {
       background-image: url(../images/slide-strategie.jpg);
     }
     li:nth-child(3) span {
       background-image: url(../images/slide.jpg);
     }
   }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}
.section-case-study {
  padding-bottom: 0;
  h3 {
    margin-bottom: 0;
  }
  @media(max-width: $grid-tablet-breakpoint){
    padding: 0;
    .mdl-grid{
      padding-left: 0;
      padding-right: 0;
    }
    .mdl-cell{
      margin-left:0;
      margin-right: 0;
      width: 100%;
    }
  }
}
.section-competences {
  &-content{
    position: relative;

    h5 {
      &:after{
        content: '';
        width: 45px;
        height: 1px;
        background: unquote('rgb(#{$color-primary})');
        display: block;
        margin: 35px auto;
      }
    }
    .mdl-grid{
      align-items: center;
      padding-bottom: 40px;
      .hb-col-img{
        margin: 10px auto;
      }
      .hb-col-text{
        position: relative;
        background: #283240;
        margin: -20% auto 0;
        padding: 20px 10px 80px;
        @media(max-width: $grid-desktop-breakpoint){
          width: 85%;
        }
      }
    }
    .question{
      margin-top: 50px;
      font-size:22px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.3;
      @media(min-width: $grid-tablet-breakpoint){
        font-size: 30px;
      }
    }
    .mdl-button{
      position: absolute;
      bottom: 0;
      margin: 0;
      transform: translateY(50%);
      left: 40px;
      right: 40px;

    }
    .owl-carousel{
      clear: both;
    }

    .carousel-counter{
      float: right;
      padding-right: 25px;
      font-size: 40px;
      font-weight: 100;
      color: #5c6879;
      .text-up{
        font-size: 70px;
        vertical-align: super;
      }

    }
    @media(max-width: 1199px){
      padding-bottom: 10px !important;
      .carousel-counter {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        padding:0;
      }
      .owl-nav{
        margin-bottom: 20px;
        .hb-icon{
          margin-top: 4px;
        }
        [class*='owl-']{
          background: $color-blue;
          position: relative;
          border-radius: 0;
          height: 47px;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 100%;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 55px 20px;
            border-color: transparent transparent $color-blue transparent;
          }
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 55px 20px 0 0;
            border-color: $color-blue transparent transparent transparent;
          }
          &:hover{
            background: $color-blue;
          }
        }
        .owl-prev{
          margin-right: 80px;
          .hb-icon{
            transform: rotate(180deg);
          }
        }
        .owl-next{
          margin-left: 80px;
        }
      }
    }
    .owl-dots{
      position: relative;
      display: none;
      justify-content: space-around;
      margin-top: 50px;
      .dot{
        position: relative;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 40px 15px;
        text-align: center;
        cursor: pointer;
        .bullet{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          display:block;
          width: 16px;
          height: 16px;
          background: #3c495c;
          border-radius: 50%;

          $bullet-halo : 4px;
          &:before,
          &:after{
            content: "";
            position: absolute;
            border-radius: 50%;
          }
          &:before{
            left: -$bullet-halo;
            top: -$bullet-halo;
            right: -$bullet-halo;
            bottom: -$bullet-halo;
          }
          &:after{
            left: -$bullet-halo * 2;
            top: -$bullet-halo * 2;
            right: -$bullet-halo * 2;
            bottom: -$bullet-halo * 2;
          }
        }
        &.active{
          color: $color-blue;
          .bullet{
            background: $color-blue;
            &:before{
              background: rgba($color-blue, 0.29);
            }
            &:after{
              background: rgba($color-blue, 0.29);
            }
          }
        }
      }
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #3c495c;
      }
      @media(min-width: 1200px){
        display:flex;

      }
    }
  }
  &-bottom{
    padding-bottom: 30px;
  }
  @media(min-width: $grid-desktop-breakpoint){
    &-content {
      padding: 80px 80px 30px;
      h5{
        &:after{
          margin-left: 0;
        }
      }
      .mdl-grid{
        //margin-left: -8%;
        margin-top: 0;
        //padding-left: 80px;
        //padding-right: 80px;
        text-align: left;
        .hb-col-text{
          padding-left: 80px;
          padding-right: 80px;
          margin-top: 0;
          margin-left: -6%;
        }
      }
      .mdl-button{
        left: auto;
        right: auto;
      }

    }
  }
}
.margin-auto {
  margin: 0 auto;
}
.vertical-align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.section-about {
  background: $color-blue;
  padding-top: 50px;
  color: #fff;
  margin: -120px 15px 0;
  h3:after {
    content: none;
  }
  .container {
    max-width: 1200px;
  }
  h4 {
    margin-bottom: 50px;
  }
  p {
    color: #fff;
  }
  @media screen and (min-width: $layout-screen-size-threshold+1px) {
    .mdl-cell {
      margin: 0;
    }

  }
  @media (min-width: $grid-desktop-breakpoint){
    margin-left: 60px;
    margin-right: 60px;
  }
  @media(max-width: $grid-tablet-breakpoint){
    .container, h4{
      text-align: center;
    }
  }
  //@media (max-width: 480px){
  //  background-image: url(/images/background-mobile.svg);
  //}
}
.section-expertises {
  padding-top: 0;

  .grid-expertises {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(../images/robot.jpg) right bottom no-repeat #fff;
    //background-size: auto 75%;
    .container {
      max-width: 1400px;
    }
    .mdl-cell {
      margin: 0;
      padding: 35px 4rem;
      &:not(:nth-child(1)) {
        border-top: 1px solid #e0e0e0;
      }

      @media (min-width: $grid-desktop-breakpoint) {

        &:not(:nth-child(3n+1)) {
          border-left: 1px solid #e0e0e0;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-top: 0;
        }
      }
      .img{
        height: 70px;
      }
      img {
        max-height: 70px;
        width: auto;
      }
      @media(max-width: $grid-tablet-breakpoint){
        width: 100%;
      }
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        padding: 5px 0;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }

  h4 {
    font-weight: 500;
    text-align: inherit;
    .dash {
      margin: 20px auto;
      width: 36px;
      height: 1px;
      display: block;
      background: unquote('rgb(#{$color-primary})');
    }
  }
  @media (min-width: $grid-desktop-breakpoint) {
    text-align: left;
    h4 {
      .dash {
        margin-left: 0;
      }
    }
  }
}
.section-contact {
  &-content{
    position: relative;
    background: url(../images/cerveau.png) center center no-repeat unquote("rgb(#{$color-primary})");
    padding: 60px 0 80px;
    .author{
      font-size: 18px;
      font-style: italic;
    }
    &, p{
      font-size: 22px;
      font-weight: 300;
      line-height: 1.3;
      color: unquote("rgb(#{$color-white})");
      @media(min-width: $grid-tablet-breakpoint){
        font-size: 30px;
      }
    }
  }

  .mdl-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;

    margin: 0 auto;
    transform: translateY(50%);
  }
}
.section-method {
  color: white;
  h5 {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    @media(min-width: $grid-tablet-breakpoint){
      font-size: 19px;
    }
  }
  h4{
    color: inherit;
  }
  &-content {
    background: $color-blue;
    padding-top: 40px;
    @media(min-width: $grid-tablet-breakpoint){
      padding-top: 80px;
    }
    .mdl-grid{
      justify-content: center;
    }
  }
  .separator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 50%;
    width: 22px;
    line-height: 22px;
    vertical-align: middle;
    padding: 0;
    i {
      font-size: 18px;
      color: unquote('rgb(#{$color-primary})');
      vertical-align: top;
      line-height: 22px;
    }
    @media(min-width: $grid-tablet-breakpoint) {
      top: 68px;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  .step-number{
    font-size: 60px;
    font-weight: 300;
    //color: #0b3199;
  }
  .method-step {
    position: relative;
    margin: 30px 0;
    .grid-steps {
      position: relative;
      margin-top: 60px;
      &:before {
        content: '';
        position: absolute;
        top: 68px;
        left: 0;
        right: 0;
        margin: auto;
        height: 80%;
        width: 1px;
        display: block;
        background: #fff;
        @media(min-width: $grid-desktop-breakpoint) {
          width: 80%;
          height: 1px;
        }
      }
    }

    @media(min-width: $grid-tablet-breakpoint) {
      .separator-mobile{
        display: none;
      }
      .grid-steps {
        &:before {
          left: 0;
          right: 0;
          margin: auto;
          width: 60%;
          height: 1px;
        }
      }
    }
    @media(min-width: $grid-desktop-breakpoint) {
      .grid-steps {
        &:before {
          width: 80%;
        }
      }
      &.step--1 {
        .grid-steps {
          &:before {
            right: 0;
            left: auto;
          }
        }
      }
      &.step--2 {
        .grid-steps {
          &:before {
            left: 0;
            right: auto;
          }
        }
      }
    }
    @media(max-width: $grid-tablet-breakpoint) {
      &.step--1{
        .grid-steps{
          &:before{
            top: auto;
            bottom: 0;
          }
        }
        .separator-mobile{
          bottom: 0;
          top: auto;
        }
      }
      &.step--2{
        .grid-steps{
          &:before{
            top: 0;
          }
        }
        .separator-mobile{
          top: 0;
        }
      }
      .mdl-cell--5-col {
        position: relative;
        margin: 90px auto;
      }
      .grid-steps {
        h5 {
          position: absolute;
          left: 0;
          top: 50%;
          margin: 0;
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }
  .method-transition {
    position: relative;
    align-self: center;
    margin-top: 51px;
    @media(min-width: $grid-desktop-breakpoint) {
      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
      }
    }
    > .mdl-grid {
      align-items: center;
    }
    &-label {
      position: relative;
      background: $color-blue;
      h5{
        margin: 0;
      }
      .separator {
        left: 0;
        top:50%;
        &:last-child {
          right: 0;
          left: auto;
        }
      }

      @media(max-width: $grid-desktop-breakpoint) {
        display: none;
      }
    }
  }
  .oval {
    $circle-size: 25px;
    position: relative;
    width: 122px;
    height: 122px;
    background-color: #fff;
    box-shadow: 0 0 0 $circle-size / 2 rgba(#fff, 0.2);
    border-radius: 50%;
    margin: auto;
    &:after {
      content: '';
      position: absolute;
      top: -$circle-size;
      left: -$circle-size;
      right: -$circle-size;
      bottom: -$circle-size;
      background: rgba(#fff, 0.1);
      border-radius: 50%;
    }
  }
  .method-underline {
    position: absolute;
    //color: #0b3199;
    text-align: center;
    transform: rotate(-90deg);
    top: 57%;
    left: 40%;
    width: 320px;
    h5 {
      margin: 0;
      letter-spacing: 0.22em;
      line-height: 23px;
      text-transform: inherit;
      font-size: 15px;
    }
    &:before {
      content: '';
      width: 320px;
      display: block;
      margin: auto;
      height: 15px;
      border: 1px solid #fff;
      border-top: 0;
    }
    @media only screen and (min-width: $grid-tablet-breakpoint) {
      position: static;
      transform: initial;
      margin: auto;
      &:before {
        width: 56%;
      }
    }
  }
}

.section-logos{
  &-content{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mdl-grid{
    max-width: 960px;
    justify-content: center;
    align-items: center;
    .mdl-cell{
      padding: 15px 20px;
      img{
        max-width: 180px;
        height: auto;
      }
    }
  }
}

.btn-sticky{
  position: fixed;
  bottom: 0;
  z-index: 500;
  width: 100%;
  a{
    display:block;
    padding: 15px 30px;
    background: unquote('rgb(#{$color-primary})');
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 1px;
    span{
      display:inline-block;
      vertical-align: middle;
      max-width: 180px;
    }
    i{
      float: right;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  @media(min-width: $grid-desktop-breakpoint){
    width: auto;
    right: 0;
    top: 50%;
    transform:translateY(-50%);
    a{
      padding: 15px;
      span{
        width: 130px;
      }
    }
  }
}


////////////////////////
@import 'mdl-override/layout';
.mdl-layout__drawer-button .icon {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 16px;
  transform: rotateZ(0);
  transition: all .2s ease-in-out;
  width: 24px;
}
.mdl-layout__drawer-button .icon--open {
  opacity: 1;
  transform: rotateZ(0);
}
.mdl-layout__drawer-button .icon--close {
  opacity: 0;
  transform: rotateZ(-45deg);
}
.mdl-layout__drawer-button[aria-expanded=true] .icon--open {
  opacity: 0;
  transform: rotateZ(45deg);
}
.mdl-layout__drawer-button[aria-expanded=true] .icon--close {
  opacity: 1;
  transform: rotateZ(0);
}
.navigation-drawer {
  background-color: #2962ff;
  opacity: 0;
  position: fixed;
  top: 56px;
  transform: translateX(100%);
  transition-duration: .2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  width: 100%;
  ul {
    padding: 0;
    text-align: center;
    &.menu-mobile-legal {
      text-align: left;
      width: 90%;
      margin: 0 auto;
    }
  }
}
.navigation-drawer.is-visible {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
.navigation-drawer__subnav {
  margin-left: 24px;
  padding: 0;
}
.navigation-drawer__subnav-item {
  list-style: none;
}
.navigation-drawer .mdl-navigation {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 30px;
}
.navigation-drawer .mdl-navigation .mdl-navigation__link {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 200;
  height: 48px;
  font-size: 28px;
  padding: 0 0 0 16px; //text-transform: uppercase
}
.navigation-drawer .mdl-navigation .mdl-navigation__link:hover {
  color: #008394;
  text-decoration: none;
}
.navigation-drawer hr {
  margin: 10px 40px;
  border-color: #2156e8;
}
.navigation-drawer ul li {
  padding: 0 1em;
  list-style-type: none;
  display: inline;
  color: #052d9c;
  a {
    color: #fff;
    text-decoration: none;
  }
}
////////////////////////
.contact-page {
  .mdl-cell {
    max-width: 800px;
  }
  .mdl-cell div,
  h3,
  button {
    width: 100%;
  }
  .mdl-cell h3 {
    font-size: 24px;
    text-align: center;
  }
  .mdl-cell button {
    margin: 15px 0;
  }
}
.section-news {
  background: url(/images/background.svg) no-repeat center -60px;
  background-size: 100%;
  @media(min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  // Box sizing partial styles:
  // Apply a natural box layout model to all elements
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  // Styling on warning for users on IE7 or below
  .browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
  }
}
