.home{
  .mdl-layout__header{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.mdl-layout__header {
  position: fixed;
  background:none;
  box-shadow: 0 0 0;
  transition: all 0.3s;
  &.mini{
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255,255,255,1);
  }
  .mdl-layout__header-row {
    padding: 0 0 0 16px;
    margin-left: 35px;
    margin-right: 35px;
    .mdl-navigation {
      height: 56px;
    }
    .mdl-navigation{
      border: solid rgba(#fff, 0.1);
      border-width: 1px 0;
    }

    .mdl-navigation__link {
      color: #fff;
      border-bottom: 3px solid transparent;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 700;
      line-height: 50px;
      margin: 0 35px;
      padding: 3px 0 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover, &.mdl-navigation__link--active{
        color: unquote('rgb(#{$color-primary})');
        border-color: unquote('rgb(#{$color-primary})');
      }
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .mdl-layout-title {
    width: 102px;
  }
  .mdl-layout__drawer-button {
    color: unquote("rgb(#{$color-primary})");
    height: 56px;
    left: initial;
    line-height: 53px;
    margin: 0;
    width: 56px;
    right: 0;
  }
  .mdl-layout__drawer-button[aria-expanded=true]{
    color: #fff;
    background:none;
    & + .mdl-layout__header-row{
      background: #2962ff;

      .logo{
        background: url('../images/logomobile.svg') center center no-repeat;
        background-size: contain;
        img{
          opacity: 0;
        }
      }
    }
  }

  @media(min-width: $grid-desktop-breakpoint){
    .mdl-layout__drawer-button {
      display: none;
    }
  }
  .mdl-layout__drawer-button--close {
    display: none;
    left: 0;
    position: absolute;
  }
  @media only screen and (max-width: 840px) {
    .mdl-layout__header-row .mdl-navigation {
      display: none
    }
  }
  @media only screen and (min-width: 841px) and (max-width: 1200px) {
    .mdl-layout__header-row {
      padding: 0 20px;
    }
  }

  @media only screen and (min-width: 1201px) {
    .mdl-layout__header-row {
      padding: 0 40px;
    }
  }
}
.mdl-layout--fixed-header{
  .mini{
    .mdl-layout__header-row{
      .mdl-navigation__link{
        color: $custom-black;
      }
    }
  }
}
.mdl-layout__obfuscator.is-visible{
  background:none;
}
